* {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #2c2d33;
  min-height: 100vh;
}

button {
  border: 0;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.6);
  padding: 0.62rem;
  border-radius: 1rem;
  background: transparent;
  font-size: 1rem;
  line-height: 1;
  outline: none;
  opacity: 0.9;
}

.app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80vh auto;
  grid-template-areas:
    'graph'
    'tests';

  height: 100vh;
  overflow-y: scroll;
}

/* Media queries
------------------------------------------------------------------------------*/

@media (min-width: 1080px) {
  .app {
    grid-template-areas: 'tests graph';
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr;
  }

  .tests {
    overflow-y: auto;
  }

  .tests__header {
    padding: 0 1rem;
  }

  .graph {
    max-width: 38vw;
  }
}

@media (max-width: 480px) {
  .tests {
    padding: 2rem;
  }
}

/* Prism
------------------------------------------------------------------------------*/

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #6272a4;
}

.token.punctuation {
  color: #f8f8f2;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #ff79c6;
}

.token.boolean,
.token.number {
  color: #bd93f9;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #50fa7b;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: #f1fa8c;
}

.token.keyword {
  color: #8be9fd;
}

.token.regex,
.token.important {
  color: #ffb86c;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
